body {
    background-image: url(../images/image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
 
/* ランダム */
    background-position: center;
     -webkit-animation: random 15s infinite;
     animation: random 15s infinite;
}

h1 {
    background: none;
    margin-bottom: 20px;
}